/* Remove default styling by applying the below */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.main {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 60vh;
    max-width: 25vw;
    background-color: white;
    border-radius: 5%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.qrcode {
    background-image: url("./images/image-qr-code.png");
    background-size: cover;
    /* Ensures the image covers the entire area */
    background-position: center;
    /* Keeps the image centered */
    height: 100%;
    width: 100%;
    border-radius: 4%;
}

.qrheading {
    padding: 10px 20px 10px;
    font-weight: 900;
    text-align: center;
}

.qrpara {
    padding: 10px 20px 10px;
    text-align: center;

}